@import url('../node_modules/@blueprintjs/core/dist/blueprint.css');
/* ["#2965CC", "#29A634", "#D99E0B", "#D13913", "#8F398F", "#00B3A4", "#DB2C6F", "#9BBF30", "#96622D", "#7157D9"] */

.App {
  padding: 2rem;
}

.iterations-borders {
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.chart-container {
  display: flex;
  flex-direction: column; /* make main axis vertical */
  align-items: center;
  width: 100%;
}

.chart {
  width: 80%;
}

.iterations-slider {
  display: inline-block;
}

.iterations-chart-options {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.individuums-ratio-line {
  color: #2965cc;
}

.avg-line {
  color: #d99e0b;
}

.best-line {
  color: #29a634;
}

.min-line {
  color: #d13913;
}

.divider {
  margin-bottom: 2rem;
}
